.service-icon {
  background-color: #fff;
  color: #232323;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(35, 35, 35, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'europa';
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding: 4rem 0;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.featured-cnt {
  position: relative;
  overflow: hidden;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

#who-we-are .logos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

#who-we-are .logos a {
  padding: 20px;
}

#who-we-are .logos a img {
  height: 132px;
}

#who-we-are .text-left {
  padding-top: 50px;
}

@media (min-width: 992px) {
  #who-we-are .text-left {
    border-left: 1px solid #8b8b8a;
    padding: 20px 0 0 50px;
  }
}

#who-we-are .text-left .lead {
  color: #fff;
}

@media (min-width: 992px) {
  #our-instances .lead.mb-5 {
    margin: 0 10%;
  }
}

#our-instances img.d-block {
  width: 30%;
  margin: 0 auto 2rem;
}

@media (min-width: 992px) {
  #our-instances img.d-block {
    width: 100%;
  }
}

#our-instances .intro {
  color: #343a40;
}

#our-instances .intro .title {
  height: 80px;
  margin-bottom: 20px;
}

#our-instances .intro hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#our-instances .intro .row div {
  margin-bottom: 3rem;
}

#our-instances .intro .row img {
  display: block;
  margin: 10px auto;
}

#about .unique {
  margin: 100px auto 50px;
}

#about .unique img {
  margin: 57px 0 57px;
}

#about .unique h3 {
  font-size: 2.25rem;
}

#about .unique p {
  color: #343a40;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

#instance-box {
  border-radius: 8px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px 40px 80px;
}

#instance-box .carousel-indicators .active {
  background-color: #000;
  border: 1px solid #000;
}

#instance-box .carousel-indicators li {
  height: 10px;
  width: 10px;
  margin: auto 8px;
  border-radius: 50%;
  border: 1px solid #dee2e6;
}

#instance-box .tab {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  margin-bottom: 45px;
}

@media (min-width: 992px) {
  #instance-box .tab {
    border-bottom: none;
    border-right: solid 1px #e5e5e5;
    display: block;
    min-height: 800px;
  }
}

#instance-box .tab img {
  border-bottom: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

#instance-box .tab img.last {
  border-bottom: none;
}

@media (min-width: 992px) {
  #instance-box .tab img {
    border-bottom: 1px solid #e5e5e5;
    max-width: 300px;
  }
}

#instance-box .tab .tablinks {
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

#instance-box .tab .tablinks.active {
  opacity: 1;
}

#instance-box .tabcontent {
  display: none;
}

@media (min-width: 992px) {
  #instance-box .tabcontent {
    margin-left: 40px;
  }
}

#instance-box .tabcontent h2 {
  font-size: 2.35rem;
  padding-bottom: 30px;
  text-align: center;
}

#instance-box .tabcontent span {
  width: 560px;
  height: 316px;
  background-color: #979797;
  display: block;
}

#instance-box .tabcontent .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#instance-box .tabcontent .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact .row {
  align-items: center;
}

footer.footer {
  background-color: #222222;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
}

footer.footer .logo span {
  background-image: url("../img/logo-sp-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 152px;
  height: 46px;
}

footer.footer .copyright .small {
  font-weight: 300;
}

@media (min-width: 992px) {
  footer.footer .copyright {
    text-align: left;
  }
}

footer.footer .social p {
  font-weight: bold;
}

footer.footer a {
  color: #fff;
  margin: 10px;
}

@media (min-width: 992px) {
  footer.footer .social {
    text-align: right;
  }
}

.masthead {
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;
}

.masthead .carousel {
  width: 100%;
}

.masthead .carousel .carousel-caption {
  max-width: 60%;
  top: 30%;
}

@media (min-width: 992px) {
  .masthead .carousel .carousel-caption {
    top: 45%;
  }
}

.masthead .carousel .carousel-caption .intro {
  min-height: 60%;
}

.masthead .carousel .carousel-caption .intro .lead {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .masthead .carousel .carousel-caption .intro .lead {
    font-size: 1.63em;
  }
}

.masthead .carousel .carousel-caption a {
  padding: 10px 20px;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  background-image: url("../img/logo-sp.png");
  background-size: cover;
  color: #212529;
  width: 132px;
  height: 40px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #868e96;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #ecb807;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #ecb807 !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
    padding-top: 3em;
  }
  #mainNav .navbar-brand {
    background-image: url("../img/logo-sp-white.png");
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    padding-top: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
    background-image: url("../img/logo-sp.png");
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #232323;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #232323;
  }
}

a {
  color: #232323;
}

a:hover, a:focus, a:active {
  color: #0a0a0a;
}

.cta {
  margin-top: 50px;
  text-align: center;
}

.btn-primary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #000 !important;
  font-size: 1rem !important;
  padding: 8px 27px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #ba9106 !important;
}

.btn-cn {
  background-color: #2a9847 !important;
  border-color: #2a9847 !important;
  color: #fff !important;
  font-size: 1rem !important;
  padding: .5rem 1.5rem;
}

.btn-cn:hover, .btn-cn:focus, .btn-cn:active {
  background-color: #1f7034 !important;
  border-color: #1f7034 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
}

.bg-primary {
  background-color: #232323 !important;
}

.lead {
  color: #343a40;
  font-size: 1.5rem;
}

.text-primary {
  color: #232323 !important;
}

.text-secondary {
  color: #ecb807 !important;
}
