footer.footer {
  background-color: $gray-1000;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: $white;
  
  .logo span {
    background-image: url('../img/logo-sp-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 152px;
    height: 46px;
  }
  .copyright {
    .small {
      font-weight: 300;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
  .social {
    p {
      font-weight: bold;
    }
  }
  a {
    color: $white;
    margin: 10px;
  }
  
  @include media-breakpoint-up(lg) {
    .social {
      text-align: right;
    }
  }
}
