footer.footer {
  background-color: $gray-1000;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #a7a7a7;
  
  .copyright {
    .small {
      font-weight: 300;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
  .social {
    p {
      font-weight: bold;
    }
  }
  a {
    color: #a7a7a7;
    margin: 10px;
  }
  
  @include media-breakpoint-up(lg) {
    .social {
      text-align: right;
    }
  }
}
