.masthead {
  min-height: 100vh;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("../img/header-logo-sp.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #00020f;

  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }

  a {
    margin-top: 20rem;

    @media (min-width: 992px) {
      margin-top: 25rem;
    }
  }
}
