.masthead {
  max-height: 75vh;
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }

  a {
    margin-top: 4rem;
    padding: 10px 20px;
  }

  .carousel {
    width: 100%;
    .carousel-caption {
      max-width: 60%;
      
      @include media-breakpoint-up(xl) {
        max-width: 50%;
      }
      .lead {
        color: $white;
        font-size: 1.63em;
        font-weight: 500;
      }
    }
  }
}
