.masthead {
  max-height: 75vh;
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }

  a {
    margin-top: 4rem;

    // @media (min-width: 992px) {
    //   margin-top: 8rem;
    // }
  }

  .lead {
    font-weight: 500;
  }

  .carousel {
    width: 100%;
  }
}
